<div class="row card__wrapper">
  <div class="card__wrapper__front text-center">
    <img src="" style="max-height: 240px; max-width: 240px;min-height: 200px;" alt="Rockstar"
      class="card__wrapper__img" />
    <h5 class="text-left pl-3">{{ rockStar.name }}</h5>
    <div class="text-left">
      <span class="card__wrapper__rank px-3 h3">{{ rank }}</span>
    </div>

  </div>
  <div class="card__wrapper__back text-center p-2">
    <div class="h-75">
      <summary class="text-left p-2">
        <p>Name: {{ rockStar.name }}</p>
        <p>Rank: {{ rank }}</p>
        <p>Playcount: {{ rockStar.playcount }}</p>
      </summary>
    </div>

    <a class="btn btn-primary" routerLink="/albums/{{ rockStar.name }}">View Albums</a>
  </div>
</div>