@import '../../../scss/variables';

.album{
  padding: 10px;
  background-color: $tracklist;
    &__list{
      background-color: $tracklistItem;
    }
    &__list:hover{
      cursor: pointer;
      background-color: $tracklistItemHover;
    }
}