@import '../../scss//variables';

.modal__wrapper{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  animation-name: modalOpening;
  animation-duration: 0.5s;
  background-color: $modalBackground;
  z-index: 1;
     padding: 15px;

    &__details{
      background-color: $modalDetails;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      min-height: 400px;
      max-height: 800px; 
      z-index: 2;
         ul{
           max-height: 380px;
           overflow-y: auto;
           background-color: $tracklist;
         }
         &__item:hover{
           background-color: $tracklistItemHover;
           color: #fff;
           cursor: pointer;
              a{
                color: #fff;
              }
         }
    }
   
}
.tracklist{
    &__link{
      text-decoration: none;
    }
}
@keyframes modalOpening{
  0%{
    width: 100%;
    height: 0vh;
  }
  100%{
    width: 100%;
    height: 100vh;
  }
}
@keyframes modalClosing{
 0%{
    width: 100%;
    height: 100vh;
  }
  100%{
    width: 100%;
    height: 0vh;
  }
}


