$albumShadow: rgba(0,0,0,0.75);
$modalBackground: rgba(0, 0, 0, 0.671);
$modalDetails: rgb(248, 230, 230);
$tracklist: rgb(248, 192, 192);
$tracklistItem: #fff;
$tracklistItemHover: rgb(247, 173, 173);