<div class="container" #home>
  <div class="row mt-3">
    <div class="col-sm-4 album-wrapper mx-auto" *ngFor="let rockstar of rockstars">
      <app-rockstar-card [rockstar]=" rockstar">
      </app-rockstar-card>
    </div>
    <div class="col-sm-12 text-center loader__wrapper" #loadMore>
      <div class="loader mt-3" [ngClass]="loadMorePosts ? 'd-block' : 'd-none'" >Loading...</div>
      <span [ngClass]="loadMorePosts ? 'd-none' : 'd-block h5 pb-3'">No more Posts</span>
    </div>
  </div>
</div>